body {
    background-color:#999999;
}

#page {
    width: 80%;
    margin: 0 auto;
    border : 1px solid black;
    background-color:#cccccc;
    height: 1000px;
    padding: 0 5%;
}

#titre {
    margin: 1% auto;
    width: 25%;
}

#canvas { 
    box-shadow: 10px 10px 10px #999; 
    border: 2px solid #333; 
    float: left;
    background: black;
    margin-left: 15%; 
}
    
#score-jeu {
    border: 1px solid black;
    width: 33%;
    height: 20%;
    background: aliceblue;
    float: left;
    margin: 0 7%;
}

#score-jeu h2 {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 150px;
    padding: 5px;
}

#menu-jeu {
    border: 1px solid black;
    width: 27%;
    height: 52%;
    background: aliceblue;
    float: left;
    margin: 3% 7%;
    padding: 0 3%;
}

@media screen and (min-height:   0px)  { body { font-size: 4px  ;} } 
@media screen and (min-height: 300px)  { body { font-size: 6px  ;} #page {height : 315px} } 
@media screen and (min-height: 400px)  { body { font-size: 8px  ;} #page {height : 415px} } 
@media screen and (min-height: 500px)  { body { font-size: 10px ;} #page {height : 515px} } 
@media screen and (min-height: 600px)  { body { font-size: 12px ;} #page {height : 615px} } 
@media screen and (min-height: 700px)  { body { font-size: 14px ;} #page {height : 715px} } 
@media screen and (min-height: 800px)  { body { font-size: 16px ;} #page {height : 815px} }   
@media screen and (min-height: 900px)  { body { font-size: 18px ;} #page {height : 915px} }   
@media screen and (min-height: 1000px) { body { font-size: 20px ;} #page {height : 1050px} }   
@media screen and (min-height: 1100px) { body { font-size: 20px ;} #page {height : 1150px} }   
@media screen and (min-height: 1200px) { body { font-size: 20px ;} #page {height : 1250px} }   