<div id="ecran-jeu">
    <div id="ecran-un-joueur">
        <div id='popup' class="popupOff">
            <div id='popupErreur'>Erreur min 3 caracteres</div>
            <label>Pseudo : </label> <input type="text" name="pseudo" id="pseudo" />
            <button id="rejouer">Rejouer</button>
            <button id="principale">Menu principale</button>
        </div>
        <div id='ombre'></div>
        <canvas id="canvas">
            Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
        </canvas>
        <div id="next-piece">
            <canvas id="next-piece-canvas">
                Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
            </canvas>
        </div>
        <div id="score-jeu">
        </div>
        <div id="option">
            <button id='pause' class='pause'>PAUSE</button><br>
            <label>Musique : </label><button id='musiqueButton'>OFF</button><br>
            <label>Sound : </label><button id='soundButton'>OFF</button><br>
            <label>Theme : </label>
            <ul> 
                <li><button id='musiqueA' class='choixMusique'>A</button></li>
                <li><button id='musiqueB' class='choixMusique'>B</button></li>
                <li><button id='musiqueC' class='choixMusique'>C</button></li>
            </ul>    
        </div>
        <!--<div id="scores">
            <h3>Scores :</h3>
            <table>
                <thead></thead>
            </table>
        </div>-->
        <div id="menu-jeu"> 
            <div>Touche P pour mettre en pause</div>
        <!--    <h3>Regle de calcule des scores :</h3>
            <div>
                1 lignes =  40  x level<br>
                2 lignes = 100  x level<br>
                3 lignes = 300  x level<br>
                4 lignes = 1200 x level<br>
            </div>
            <h3>Maj :</h3>
            <div>
                <table>
                    <tr><td><b>0.1</b></td><td>Ajout d'un visuel sur la prochaine piece</td></tr>
                    <tr><td><b>0.2</b></td><td>Ajout de la pause</td></tr>
                    <tr><td><b>0.3</b></td><td>Ajout de son et de la musique</td></tr>
                    <tr><td><b>0.4</b></td><td>Ajout d'une popup avec le pseudo pour les scores</td></tr>
                    <tr><td><b>0.4.1</b></td><td>Ajout d'un ecran de game over</td></tr>
                    <tr><td><b>0.4.2</b></td><td>Changement dans la generation des pieces avec les standards tetris</td></tr>
                    <tr><td><b>0.4.3</b></td><td>Modifications dans le calcule la vitesse de chute des pieces</td></tr>
                    <tr><td><b>0.4.4</b></td><td>Apparition des pieces dans la direction horizontal</td></tr>
                    <tr><td><b>0.4.5</b></td><td>Ajouter d'un bouton pause<td></tr>
                    <tr><td><b>0.5</b></td><td>Ajout de la zone de chute</td></tr>
                    <tr><td><b>0.6</b></td><td>Ajout d'un menu avec le choix de la difficulté et du level de depart</td></tr>
                </table>
            </div>-->
            <a href="https://github.com/bersiroth/tetris" target="_blank"> GitHub </a>
        </div>
    </div>
</div>