<div id="menu">
    <ul>
        <li><b>0.1</b> Ajout d'un visuel sur la prochaine piece</li>
        <li><b>0.2</b> Ajout de la pause</li>
        <li><b>0.3</b> Ajout de son et de la musique<</li>
        <li><b>0.4</b> Ajout d'une popup avec le pseudo pour les scores</li>
        <li><b>0.4.1</b> Ajout d'un ecran de game over</li>
        <li><b>0.4.2</b> Changement dans la generation des pieces avec les standards tetris</li>
        <li><b>0.4.3</b> Modifications dans le calcule la vitesse de chute des pieces</li>
        <li><b>0.4.4</b> Apparition des pieces dans la direction horizontal</li>
        <li><b>0.4.5</b> Ajouter d'un bouton pause</li>
        <li><b>0.5</b> Ajout de la zone de chute</li>
        <li><b>0.6</b> Ajout d'un menu avec le choix de la difficulte et du level de depart</li>
        <li><b>0.7</b> Ajout d'un menu avec le choix de la difficulte et du level de depart</li>
    </ul>
    <div id='retourMenuPrincipale' class='retour'>retour</div>
</div>