<div id="menu">
    <ul>
        <li id='maj'>
            <table>
                <tr><td>0.1</td><td> Ajout d'un visuel sur la prochaine piece</td></tr>
                <tr><td>0.2</td><td> Ajout de la pause</td></tr>
                <tr><td>0.3</td><td> Ajout de son et de la musique</td></tr>
                <tr><td>0.4</td><td> Ajout d'une popup avec le pseudo pour les scores</td></tr>
                <tr><td>0.4.1</td><td> Ajout d'un ecran de game over</td></tr>
                <tr><td>0.4.2</td><td> Changement dans la generation des pieces avec les standards tetris</td></tr>
                <tr><td>0.4.3</td><td> Modifications dans le calcule la vitesse de chute des pieces</td></tr>
                <tr><td>0.4.4</td><td> Apparition des pieces dans la direction horizontal</td></tr>
                <tr><td>0.4.5</td><td> Ajouter d'un bouton pause</td></tr>
                <tr><td>0.5</td><td> Ajout de la zone de chute</td></tr>
                <tr><td>0.6</td><td> Ajout d'un menu avec le choix de la difficulte et du level de depart</td></tr>
                <tr><td>0.7</td><td> Refonte graphique</td></tr>
            </table>
        </li>    
    </ul>
    <div id='retourMenuPrincipale' class='retour'>retour</div>
</div>