<div id="menu">
    <ul>
        <li class='menuTitre'>Difficulte</li>
    </ul>
    <div class='choixDifficulte menu difficulteActive' id='facile'><span>Facile</span></div>
    <div class='choixDifficulte menu' id='moyen'><span>Moyen (Bonus 20%)</span></div>
    <div class='choixDifficulte menu' id='difficile'><span>Difficile (Bonus 50%)</span></div>
    <ul>
        <li class='menuTitre'>Level de depart</li>
    </ul>
    <div class='level menu levelActive'><span>0</span></div>
    <div class='level menu'><span>1</span></div>
    <div class='level menu'><span>2</span></div>
    <div class='level menu'><span>3</span></div>
    <div class='level menu'><span>4</span></div>
    <div class='level menu'><span>5</span></div>
    <div class='level menu'><span>6</span></div>
    <div class='level menu'><span>7</span></div>
    <div class='level menu'><span>8</span></div>
    <div class='level menu'><span>9</span></div>
    <div class='clear'></div>
    <ul>
        <li class='menuTitre'>Zone de drop</li>
    </ul>
    <div class='zoneDrop menu zoneDropActive'><span>Oui</span></div>
    <div class='zoneDrop menu zoneDropNo'><span>Non (Bonus 20%)</span></div>
    <br/>
    <div class='clear'></div>
    <div id='retourMenuPrincipale' class='retour'>retour</div>
    <div id='lancerJeu' class='retour'>Lancer</div>
</div>